/* Title Container */
.title-container {
    text-align: center; 
    align-items: center;
    justify-content: center;
    margin-top: 4%;
  }
  
  /* Title */
  .title {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bolder;
    color: #a0b1c5; /* Base color for text */
    position: relative;
    display: inline-block;
    margin: 0;
    padding-bottom: 10px;
    background: linear-gradient(to right, #a0b1c5, #315488); /* Gradient color for title */
    -webkit-background-clip: text; /* Ensures the gradient is applied to the text */
    color: transparent; /* Makes text color transparent to show the gradient */
  }
  
  
  .icon-wrapper {
    margin-right: 2%;
    display: inline-flex;  /* Ensures the icon stays centered */
    justify-content: center;
    align-items: center;
    width: 50px;  /* Adjust size */
    height: 50px;
    border-radius: 50%;  /* Makes it a circle */
    background: linear-gradient(to right, #031313, #0b1a31); /* Gradient background */
    box-shadow: 0 4px 10px #0b1a3133; 
    animation: iconBounce 2s infinite;
  }
  
  .title-icon {
    font-size: 2rem;
    color: #a0b1c5;
  }
  
  
  
  /* Bounce Animation for Icon */
  @keyframes iconBounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  /* Underline */
  .underline {
    width: 25%;
    height: 5px;
    border-radius: 10px;
    background: linear-gradient(to right,#0b1a31, #a0b1c5, #0b1a31); /* Gradient for the underline */
    margin: 0 auto;
    animation: underlineAnimation 3s ease-in-out infinite;
    box-shadow: 0 4px 8px #0b1a3133;
  }
  
  /* Underline Animation */
  @keyframes underlineAnimation {
    0% {
      width: 0;
    }
    50% {
      width: 25%;
    }
    100% {
      width: 0;
    }
  }
  